/* 
    Author: Roxette Laude
    Date: December 11, 2023
    Assignment: Final Profile

    Responsive Style Sheet
*/

/* TABLET VIEW RESPONSIVE */
@media screen and (max-width: 750px) {
    
}


/* MOBILE VIEW RESPONSIVE */
@media screen and (max-width: 570px) {
    
}